body .home-page {}

.img-responsive {
    max-width: 100%;
    height: auto;
}

body .custom-page-layout {
    padding-top: 60px;
    padding-bottom: 30px;
}

body .custom-page-layout .cms-content {
    padding: 0 15px;
}

.home-layout #main-video-section {
    background-position: top center !important;
    background-size: 100% auto !important;
    background-image: url('../../images/bg/front-bg.png');
    background-repeat: no-repeat;
}

.front-page-container .front-section:first-child {
    padding-top: 100px;
}

.front-page-container .front-section:last-child {
    padding-bottom: 100px;
}

.home-layout .front-banner-container {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /* height: 84px; */
    background: linear-gradient(90deg, #15D500 0%, #088E01 100%);
    z-index: 1150;
}

.home-layout .front-banner {
    text-align: center;
    padding: 18px 24px;
}

.home-layout .front-banner-text {
    font-size: 1.15rem;
    font-weight: 700;
    color: #ffffff;
}

.home-layout .front-header-container {
    padding: 10px 0;
}

.home-layout .front-main-container {
    padding-bottom: 60px;
}

.home-layout .vimeo-iframe {
    width: 640px;
    height: 360px;
    /* width: 960px;
    height: 540px; */
    width: 800px;
    height: 450px;
}

.home-layout .front-video-footer,
.home-layout .front-video-header {
    padding: 15px 0;
}

.home-layout #feature-section {
    background: linear-gradient(-17deg, #cde8c7 0%, transparent 40%);
}

.home-layout .feature-list {
    border-radius: 20px;
    box-shadow: 0px 4px 50px 0px #cde8c7;
    background: #ffffff;
    /* overflow: hidden; */
}

.home-layout .feature-item {
    padding: 40px 5px;
}

.home-layout .feature-item.highlighted {
    background: linear-gradient(80deg, #3BC734 0%, #088E01 70%) !important;
    transform: scale(1.15);
    border-radius: 14px;
}

.home-layout.matchDownSM .feature-item.highlighted {
    transform: scale(1);
    border-radius: 0px;
}

.home-layout .section-wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}

.home-layout.matchDownSM .section-wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}

.home-layout .front-page-container .front-section:first-child .section-wrapper {
    padding-top: 20px;
}

.home-layout .front-page-container .front-section:last-child .section-wrapper {
    padding-bottom: 20px;
}

.home-layout .company-item {
    padding: 16px;
    text-align: center;
}

.home-layout .company-item img {
    max-width: 100%;
}

.responsive-video-container {
    display: block;
    position: relative;
    padding-top: 56%;
    width: 100%;
}

.responsive-video-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.responsive-video-box,
.vimeo-iframe-responsive {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
}

.story-bg-container {
    position: relative;
    z-index: 0;
    transform: translateY(-40%);
    text-align: center;
}

.worked-company-desc-wrapper {
    border-left: 5px solid #15D500;
    padding-left: 10px;
}

.worked-company-item {
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px #cde8c7;
    padding: 40px;
    border-color: #ACACAC;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffff;
    width: 100%;
}

.worked-company-item-block-1 {
    padding-top: 8px;
    height: 100%;
}

.worked-company-item-block-2 {
    padding: 40px 50px;
    background-color: #f4f4f7;
    border-color: #f4f4f7;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    height: 100%;
}

.worked-company-item-block-3 {
    padding: 40px 50px;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    height: 100%;
}

.spec-icon {
    font-size: 18px;
    color: #15d500;
}

#worked-company-section {
    background: linear-gradient(30deg, #cde8c7 0%, transparent 20%);
}

#how-it-work-section {
    background: linear-gradient(180deg, #FFF 0%, #F4F4F4 100%);
}

.how-bg-container {
    position: relative;
    z-index: 0;
    transform: translateY(-50%);
    text-align: center;
}

.step-box {
    padding: 45px 50px;
    background-color: #ffffff;
    width: 100%;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 20px;
    box-shadow: 0px 4px 50px 0px #cde8c7;
    height: 100%;
}

.testimonial-video-title {
    border-left: 6px solid #15D500;
    padding-left: 10px;
}

.testimonial-item {
    margin-bottom: 16px;
}

#get-started-section {
    background-position: center center;
    background-size: cover;
    background-image: url('../../images/bg/get-started-bg.webp');
    background-repeat: no-repeat;
}

.home-layout .man-img-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -120px;
    top: -180px;
}

.home-layout.matchDownSM .man-img-box {
    position: relative;
    bottom: 0;
    top: 0;
}

#faq-section {
    background: linear-gradient(320deg, #cde8c7 0%, transparent 25%, transparent 75%, #CDE8C6 100%);
    background-color: rgba(0, 0, 0, 0);
}

#success-story-section {
    background: linear-gradient(0deg, #cde8c7 0%, transparent 20%);
}

#main-video-section .section-wrapper {
    padding-bottom: 40px;
}

.home-layout.matchDownSM #feature-section .section-wrapper {
    padding-top: 45px;
    padding-bottom: 90px;
    position: relative;
}

.cms-page-wrapper {
    padding: 80px 0;
}

.cms-page-wrapper [data-custom-class='link'],
.cms-page-wrapper [data-custom-class='link'] * {
    color: #3030F1 !important;
    font-size: 14px !important;
    font-family: Arial !important;
    word-break: break-word !important;
}

.cms-page-wrapper [data-custom-class='title'],
.cms-page-wrapper [data-custom-class='title'] * {
    font-size: 26px !important;
    color: #000000 !important;
}

.cms-page-wrapper [data-custom-class='body_text'],
.cms-page-wrapper [data-custom-class='body_text'] * {
    color: #595959 !important;
    font-size: 14px !important;
}

.cms-page-wrapper [data-custom-class='body'],
.cms-page-wrapper [data-custom-class='body'] * {
    background: transparent !important;
}


.home-layout .funnel-page-bg-container {}

.home-layout .funnel-page-container {
    padding-top: 40px;
}

.home-layout .funnel-page-container.has-banner {
    padding-top: 100px;
}

.home-layout .funnel-page-container #main-video-section {
    background-image: none;
    background-repeat: no-repeat;
    background: none !important;
}

.home-layout .funnel-page-container #main-video-section .section-wrapper {
    padding-top: 0;
}