node_modules/*
npm-debug.log
.tscache
.sublime-grunt-cache
*.tmp.txt
*.cache
dist
typings
bin
backup
*.pdf
*.docx
*.yml
*.xlsx
*.log
account.txt
updated_sql.txt
install-guide.txt
logs/*
src/public/*
.env
.env.local
.env.*.local
token.json
*.token
gulpfile.js
assets/global/google/*.json
assets/global/tmp/*.json